@font-face {
    font-family: "MaerskHeadline";
    font-weight: light;
    src: url(./assets/fonts/MaerskHeadline-Light.woff2);
}

@font-face {
    font-family: "MaerskHeadline";
    font-weight: bold;
    src: url(./assets/fonts/MaerskHeadline-Regular.woff2);
}

@font-face {
    font-family: "MaerskText";
    src: url(./assets/fonts/MaerskHeadline-Light.woff2);
}

* {
    font-family: "MaerskText";
    color: #545454;
}

.heading {
    font-family: "MaerskHeadline";
    color: #141414;
}

.card:hover {
    /* background-color: yellow; */
}

.bg-card-tolu {
    width: 400px; 
    height: 300px;
}

.card-bg-img{
    background-position: center;
    background-size: cover;
}
