/* general  */
@font-face {
    font-family: "MaerskHeadline";
    font-weight: light;
    src: url(./assets/fonts/MaerskHeadline-Light.woff2);
}

@font-face {
    font-family: "MaerskHeadline";
    font-weight: bold;
    src: url(./assets/fonts/MaerskHeadline-Regular.woff2);
}

@font-face {
    font-family: "MaerskText";
    font-weight: normal;
    src: url(./assets/fonts/MaerskText-Regular.woff2);
}

* {
    font-family: "MaerskText";
}

.headline-font {
    font-family: "MaerskHeadline";
}

#navbar {
    transition: 0.5s ease-in-out;
}

/* cards  */
.card {
    transition: all .2s ease-in-out;
}

.card:hover {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .03), 0 3px 14px 2px rgba(0, 0, 0, .03), 0 5px 5px -3px rgba(0, 0, 0, .04)
}

.card-bg-img {
    height: 200px;
    background-size: cover;
    background-position: top;
}

/* carousels  */
.carousel-control-prev {
    margin-left: -150px;
}

.carousel-control-next {
    margin-right: -150px !important;
}

.carousel-indicators {
    margin-bottom: -30px !important;
}

.carousel-indicators button {
    width: 10px !important;
    height: 10px !important;
    border: 1px solid black !important;
    border-radius: 50% !important;
}

.carousel-indicators button.active {
    background-color: #00243d !important;
}

.bi-arrow-right,
.bi-arrow-left {
    display: flex;
    align-items: center;
    height: 60px !important;
}

/* hero section */
.tracking {
    margin: 80px 0;
}

.tracking-nav a {
    transition: .3s ease-in-out;
}

.tracking-nav a:hover {
    border-bottom: 1px solid black;
}

/* responsiveness */
@media only screen and (max-width: 1024px) {
    .tracking {
        margin-top: 300px !important;
    }

    .article-below-hero {
        margin-top: 150px !important;
    }

    .latest-insight-largest-card {
        max-height: 290px !important;
    }

    .carousel-control-prev {
        display: none !important;
        margin: 0 !important;
    }

    .carousel-control-next {
        display: none !important;
        margin: 0 !important;
    }

    .parteners-carousel .carousel-item {
        min-height: auto !important;
    }
}