@font-face {
    font-family: "MaerskHeadline";
    font-weight: light;
    src: url(./assets/fonts/MaerskHeadline-Light.woff2);
}

@font-face {
    font-family: "MaerskHeadline";
    font-weight: bold;
    src: url(./assets/fonts/MaerskHeadline-Regular.woff2);
}

@font-face {
    font-family: "MaerskText";
    src: url(./assets/fonts/MaerskHeadline-Light.woff2);
}

/*  */

#navbar {
    transition: 0.5s ease-in-out;
}

.card {
    transition: all .2s ease-in-out;
}

.card:hover {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .03), 0 3px 14px 2px rgba(0, 0, 0, .03), 0 5px 5px -3px rgba(0, 0, 0, .04)
}

.card-bg-img {
    height: 200px;
    background-size: cover;
    background-position: top;
}

.carousel-indicators button {
    width: 10px !important;
    height: 10px !important;
    border: 1px solid black !important;
    border-radius: 50% !important;
}

.carousel-indicators button.active {
    background-color: #00243d !important;
}

.carousel-indicators {
    align-items: center;
}

/* hero section */

.tracking-nav a {
    transition: .3s ease-in-out;
}

.tracking-nav a:hover {
    border-bottom: 1px solid black;
}

.carousel-control-prev,
.bi-arrow-left,
.carousel-control-next {
    opacity: 1 !important;
    margin: 0px 30px !important;
}